#cocktail-menu {
    display: flex;
    overflow-x: auto;
}

#cocktail-menu img {
    height: 150px;
    margin-right: 0.5rem;
    cursor: pointer;
  }

  .parent {
    border: 1px solid black;

    padding: 2rem 2rem;
    
  }
  .child {
    display: inline-block;
    border: 1px solid red;
    padding: 1rem 1rem;
    vertical-align: middle;
  }

  #cocktail-name {
    font-size: x-large;
  }